ReturnExchange{
    margin: auto;
    color: #333333;
}
.heading h2{
    font-size: 20px;
    
}

.line{
    border-bottom: 1px solid rgb(130, 130, 130);
    opacity: 40%;
}

ul li{
    padding-bottom: 10px;
}
ul li a{
    color: #333333;
    font-weight: bold; 
    
}



Table th{

    text-align: center;
    
}
Table td{
    text-align: center;
}

