.terms {
  background-color: #faf9f8;
  color: #222222;
}

.container {
  width: 100%;
}

h3 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 12px;
}

ul li {
  list-style-position: inside;
  font-size: 12px;
}
