.main {
  background-color: #faf9f8;
  color: #222222;
}

.first {
  background-color: #f7fafe;
  width: 100%;
}

p {
  font-size: 13px;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 20px 10% !important;
  }
}

.buy {
  font-size: 13px;
}

.btn-outline-dark:hover {
  background-color: #e4e4e4;
  color: #222222;
}

.card {
  background-color: #e4e4e4;
}

.buy2:hover {
  background-color: #d0d0d0;
}

.card .h5 {
  font-size: 16px !important;
}
.card p {
  font-size: 13px !important;
}

.desc {
  font-size: 14px !important;
}
.desc h5 {
  font-size: 14px !important;
}

.accordion-item:first-of-type > .accordion-header .accordion-button,
.accordion-item:last-of-type > .accordion-header .accordion-button {
  border-radius: 0 !important;
}

.accordion-button,
.accordion-body {
  background-color: white !important;
}

.accordion-body p {
  font-size: 11px !important;
}

li {
  list-style-position: inside;
  font-size: 13px;
}

